body {
    margin: 0;
    font-family: Arial;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #34495e;
}

/* Main Content */
.main {
    flex: 1;
    padding: 20px;
    background: #ecf0f1;
}

/* Sections */
.section {
    display: block;
}

.hidden {
    display: none;
}

/* Inputs */
input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #219150;
}

/* Lists */
ul {
    margin-top: 10px;
}

li {
    
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}